body{
    background-color: rgb(40, 40, 40);
    font-family: 'Courier New', Courier, monospace;
}

.titleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 0;
    padding: 10;
    color: #ffffff
}

.surProjetDiv{
    font-size: 1vw;
}

p{
    font-size: 3vw;
}

.parentDiv{
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Div pour 1eme partie */

.partie1Div{
    text-align: center;
    width: 100vw;
    height: 83vh;
    background-color: rgb(0, 0, 0);
}

.partie1Div:hover{
    background-image: url(photoPageAccueil/photoNomAQRCode.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 125vw;
}

/* Div pour 2eme partie */

.partie2Div{
    text-align: center;
    width: 100vw;
    height: 83vh;
    background-color: rgb(0, 0, 0);
}

.partie2Div:hover{
    background-image: url(photoPageAccueil/photoRandomGrid.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 125vw;
}

/* Div pour 3eme partie */

.partie3Div{
    text-align: center;
    width: 100vw;
    height: 83vh;
    background-color: rgb(0, 0, 0);
}

.partie3Div:hover{
    background-image: url(photoPageAccueil/photoBabyYoda.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 125vw;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}
  
a:visited {
    color: #ffffff;
    text-decoration: none;
}
  
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
  
a:active {
    color: #ffffff;
    text-decoration: none;
}